*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    min-height: 100vh;
    background: rgb(21,11,184);
    background: linear-gradient(90deg, rgba(21,11,184,1) 0%, rgba(163,131,219,1) 36%, rgba(0,212,255,1) 68%);
    display: flex;
    justify-content: center;
    align-items: center;
}